h1 {
background: grey;

}

p.paragraph-1 {
background: purple;
font-size: 32pt;
color:green;

}



p.paragraph-2 {
border: 10px solid green;
border-radius: 5px;
font-size:26pt;
margin-left:60px;
padding-top:100px;
padding-left:150px;

}
}

p.paragraph-3 {
font-weight: bold;
font_size:22pt;
font-family: Arial

}